/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

:root {
   --color-primary: #2F6690; /* Cor principal */
  --color-secondary: #3A7CA5; /* Elementos secundários */
  --color-light: #D9DCD6; /* Fundos claros */
  --color-dark: #16425B; /* Fundo escuro/textos */
  --color-accent: #81C3D7; /* Destaques */
}

@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-light: var(--color-light);
  --color-dark: var(--color-dark);
  --color-accent: var(--color-accent);
}